*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    --main-blue-color: rgb(97, 37, 187);
    --borders-color: rgb(225, 225, 225);
    --color-product: rgb(115, 115, 115);
    --color-description: rgb(92, 92, 92);
}

/* Header */

header{
    color: var(--main-blue-color);
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header-socialmedia a ion-icon{
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    height: 20px;
    width: 20px;
    margin: 5px;
    padding: 5px
}

.header-socialmedia a{
    text-decoration: none;
}

.header-changes{
    display: flex;
    align-items: center;
}

.header-changes p{
    font-weight: bolder;
    margin: 5px 10px;
    padding: 0px 10px;
}

/* Search Bar */

.searchbar-container{
    height: 150px;
    border-bottom: 1px solid var(--borders-color);
    display: flex;
    justify-content: center;
    align-items: center;
}


.searchbar-box{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#searchbar{
    height: 45px;
    width: 90%;
    border: 1px solid var(--borders-color);
    border-radius: 10px;
    outline: none;
    padding: 20px;
    font-size: 1rem;
    font-weight: 700;
    color: var(--main-blue-color);
}

#searchicon{
    color: var(--main-blue-color);
    position: absolute;
    font-size: 1.6rem;
    margin-right: 12px;
}

.searchbar-items{
    color: var(--main-blue-color);
    font-size: 2.2rem;
    margin-left: 80px;
}

.searchbar-items a{
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
}

.logo{
    margin-right: 50px;
}

/* Menu Category List */

.menu-category-list{
    border-bottom: 1px solid var(--borders-color);
    color: var(--main-blue-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-category-list li{
    list-style: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.1rem;
    margin: 10px 30px;
}

/* Carousel */

.carousel{
    background-color: var(--borders-color);
    height: 350px;
    margin-bottom: 50px;
}

/* Product Showcase */

.product-showcase{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.item-showcase{
    padding: 25px;
    display: flex;
    max-width: 300px;
    margin: 0px 10px;
    border: 1px solid var(--borders-color);
    border-radius: 15px;
}

.item-showcase img{
    padding: 5px;
    margin-right: 20px;
    border: 1px solid var(--borders-color);
    border-radius: 15px;
}

.content-showcase{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-showcase a{
    color: var(--main-blue-color);
    text-decoration: none;
}

.content-showcase a:hover{
    text-decoration: underline;
}

.item-quantity{
    color: var(--main-blue-color);
}

/* Products */

.img-size-items{
    width: 80px;
    height: 80px;
}

.img-size-leftbar{
    width: 70px;
    height: 70px;
    padding: 3px;
}

.products-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.leftbar{
    border-radius: 10px;
    padding: 20px;
    border: 1px solid var(--borders-color);
    color: var(--main-blue-color);
    font-weight: 600;
}

.section-leftbar{
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    margin: 15px 0px;
}

.section-leftbar:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 6px;
    transition: 200ms;
}

.rightbar{
    display: flex;
    flex-direction: column;
    width: 800px;
}

.pecas-separadas{
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
    display: flex;
    align-items: center;
}

.pecas-separadas:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 6px;
    transition: 200ms;
}

.item-name{
    color: var(--color-description);
    font-weight: 600;
}

.item-category{
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--color-description);
}

.item-price{
    font-weight: 500;
    color: var(--main-blue-color);
}

.pecas-separadas-container{
    height: 350px;
    overflow: scroll;
    margin: 0px 10px;
    padding: 0px 10px;
    border: 1px solid var(--borders-color);
    border-radius: 10px;
    color: var(--color-product);
}

.pecas-separadas-container h1{
    position: sticky;
    top: 0px;
    text-align: center;
    padding: 5px;
    background-color: white;
    border-bottom: 1px solid var(--borders-color);
}

.pecas-separadas-info{
    margin: 0px 20px;
}

.pcs-montados-container{
    height: 350px;
    overflow: scroll;
    margin: 10px 10px;
    padding: 0px 10px;
    border: 1px solid var(--borders-color);
    border-radius: 10px;
    color: var(--color-product);
}

.pcs-montados-container h1{
    position: sticky;
    top: 0px;
    text-align: center;
    padding: 5px;
    background-color: white;
    border-bottom: 1px solid var(--borders-color);
}

.pcs-trabalho-container{
    height: 350px;
    overflow: scroll;
    margin: 0px 10px;
    padding: 0px 10px;
    border: 1px solid var(--borders-color);
    border-radius: 10px;
    color: var(--color-product);
}

.pcs-trabalho-container h1{
    position: sticky;
    top: 0px;
    text-align: center;
    padding: 5px;
    background-color: white;
    border-bottom: 1px solid var(--borders-color);
}

/* Last Release */

.last-release-container{
    display: flex;
    align-items: center;
    margin: 10px;
    border: 1px solid var(--borders-color);
    border-radius: 10px;
}

.last-release-img{
    margin: 10px;
    width: 400px;
}

/* Scrollbar */

::-webkit-scrollbar-track
{
    display: none;
}

::-webkit-scrollbar
{
	width: 7px;
	background-color: transparent;
}

::-webkit-scrollbar-corner{
    display: none;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: var(--main-blue-color);
}
